:root {
    --color-blue      : #2d73a4;
    --color-dark-blue : #485178;
    --color-lite--blue: #007db1;

    --color-wagon-blue-1: #0d5cab;
    --color-wagon-blue-2: #65acd8;
    --color-wagon-blue-3: #7eb3d3;
    --color-wagon-blue-4: #b0cbe0;
    --color-wagon-grey-1: #31302e;
    --color-wagon-grey-2: #bbc1cf;
}